.footer-local {

    
    background-color: #0065bd;
    color: whitesmoke ;
    text-align: center;
    padding: 16px 0;
    font-size: 1rem;
    border-top: 2px solid orange;

    position:static ;
    left: 0;
    bottom: 0;
    width: 100vw ;
    /*z-index: 100;*/

}

.footer-local a {
  color: lightgray;
  font-weight: bold;
  text-decoration: none;
  margin: 0 8px;
}

.footer-local a:hover {
  text-decoration: underline;
}

.linkedin-icon{

  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 4px;

    aspect-ratio: 1 / 1;
  object-fit: contain;

}