
<form 
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="form-oval"
>

    <div class="form-row">

        <label for="email" > Email: </label>

        <input
            type="text"
            id="email"
            formControlName="email"
            required
        >
                
        <div 
            *ngIf="(
                loginForm.get('email')?.errors?.[ 'required' ]
                &&
                loginForm.get('email')?.touched
            )"
            class="err-class" 
        >
            {{errorFormMessages.emailRequired}}
           
        </div>



        <div 
            *ngIf="(
                loginForm.get('email')?.errors?.['email']
                &&
                loginForm.get( 'email' )?.touched
            )"
            class="err-class"
        >
            {{errorFormMessages.emailFormat}}
        </div>


        <label for="password"> Password: </label>

        <input
            type="password"
            formControlName="password"
            id="password"
            required
        >

        <div
            *ngIf="(
                loginForm.get('password')?.errors?.['required']
                &&
                loginForm.get('password')?.touched
            )"
            class="err-class"
        >
            {{errorFormMessages.passwordRequired}}

        </div>


        <button class="rounded-btn" type="submit">Login</button>
    
</div>

</form>
<!--
{{ this.loggedUser$| async | json }}
-->