<div class="edit-form" >

    <h2> Editar Usuario </h2>

    <br><br>

    <form [formGroup]="editUserForm"  (ngSubmit)="onSubmit()" >

        <div  class="formField-group">

            <label for="UserName">UserName</label>

            <input
                type="text"
                id="UserName"
                formControlName="userName"
                placeholder="ingrese el nombre de usuario a editar"
            >

            <div
                *ngIf="(
                    editUserForm.get('userName')?.errors?.['required']
                    &&
                    editUserForm.get('userName')?.touched
                )"
                class="err-class"
            >
                {{errorsMessages.nameRequired}}
            </div>

            <div 
                *ngIf="(
                    editUserForm.get('userName')?.errors?.[ 'onlyLetters' ]
                    &&
                    editUserForm.get('userName')?.touched
                )"
                class="err-class" 
            >
                {{errorsMessages.nameLetters}}
            </div>

            <div
                *ngIf="(
                    editUserForm.get('userName')?.errors?.[ 'firstLetterIsNotUpperCase' ]
                    &&
                    editUserForm.get('userName')?.touched
                )"
                class="err-class"
            >
                {{errorsMessages.nameFirstUppC}}   
            </div>

        </div>



        <div class="formField-group">

            <label for="email">
                Email
            </label>

            <input
                type="text"
                id="email"
                formControlName="email"
                placeholder="ingrese el email editado"
            >

            <div 
                *ngIf="(
                    editUserForm.get('email')?.errors?.['required']
                    &&
                    editUserForm.get( 'email' )?.touched
                )"
                class="err-class"
            >
                {{errorsMessages.emailRequired}}
            </div>


            <div 
                *ngIf="(
                    editUserForm.get('email')?.errors?.['email']
                    &&
                    editUserForm.get( 'email' )?.touched
                )"
                class="err-class"
            >
                {{errorsMessages.emailFormat}}
            </div>


            <div 
                *ngIf="(
                    editUserForm.get('email')?.errors?.[ 'hasEmoticon' ]
                    &&
                    editUserForm.get('email')?.touched
                )"
                class="err-class" 
            >
                {{errorsMessages.notEmojis}}
            </div>


        </div>



        <div class="formField-group" >

            <label for="role"> Role </label>

            <input
                type="text"
                id="role"
                formControlName="role"
                placeholder="ingrese el rol del usuario"
            >

            <div
                *ngIf="(
                    editUserForm.get('role')?.errors?.['required']
                    &&
                    editUserForm.get('role')?.touched
                )"
                class="err-class"
            >
                {{errorsMessages.roleRequired}}
            </div>

        </div>

        
        <button 
            type="submit" 
            [disabled]="editUserForm.invalid"
            class="submit-btn"
        >
            Editar Usuario
        </button>

        <button
            type="button"
            (click)="handleOnReset()"
            class="reset-btn"
        >
            Limpiar formulario
        </button>

    </form>

</div>